{% block doc -%}
    {%- block html %}
        {%- block head %}
            <title>About</title>
            {%- block metas %}
            {%- endblock metas %}
            {%- block styles %}
                <link rel = "stylesheet" href = "{{ url_for('static', filename = 'index.css') }}">
            {%- endblock styles %}
        {%- endblock head %}
        {% block body -%}
        <section class = "sectionOne">
            <section class = "aboutDiv">
                <h1 class = "heading">
                    Abdullah Toor
                </h1>
                <h3 class = "heading3">
                    abdullahtoor325@gmail.com
                </h3>
                <span>
                    Welcome to my digital workspace. I built this site to document my coding journey, tackle new challenges, and showcase my projects in a clean, accessible format. From building responsive layouts to integrating backend logic, every project featured here represents a step forward in my capability to design, develop, and deploy effective software.
                </span>
            </section>
            <section class = "meetingDiv">
                <h2 class = "heading">Want to set up a meeting?</h2>
                <span>
                    Click <a href="https://calendly.com/abdullahtoor325/30min" target="_blank" class="meetingLink">here</a>, or scan the QR code:
                </span>
                <img class = "qrCode" src="{{ url_for('static', filename='meetingQRCode.png') }}" alt="Meeting QR Code" class="qr-code">
            </section>
        </section>

        <main class = "projectsDiv">
            {% if projects %}
                {% for project in projects %}
                    <div class = "singleProject">
                        <div class = "projectDetails">
                            <span class = "projectTitle">{{ project.title }}</span>
                            <div>{{ project.description }} </div>
                        </div>
                        <button class = "gitHubLink" onclick="window.open('{{ project.github_link }}', '_blank')">
                            View GitHub Link
                        </button>
                    </div>
                {% endfor %}
            {% endif %}

        </main>

        {% endblock body -%}
    {%- endblock html %}
{% endblock doc -%}