{% block doc -%}
    {%- block html %}
        {%- block head %}
            <title>About</title>
            {%- block metas %}
            {%- endblock metas %}
        {%- endblock head %}
        {% block body -%}
        
        <div class = "aboutDiv">
            <h1 class = "heading">
                Abdullah Toor
            </h1>
            <h3>
                abdullahtoor325@gmail.com
            </h3>
        </div>

        {% endblock body -%}
    {%- endblock html}
{% endblock doc -%}