{% block doc -%}
    {%- block html %}
        {%- block head %}
            <title>About</title>
            {%- block metas %}
            {%- endblock metas %}
            {%- block styles %}
                <link rel = "stylesheet" href = "{{ url_for('static', filename = 'index.css') }}">
            {%- endblock styles %}
        {%- endblock head %}
        {% block body -%}
        
        <section class = "aboutDiv">
            <h1 class = "heading">
                Abdullah Toor
            </h1>
            <h3 class = "heading3">
                abdullahtoor325@gmail.com
            </h3>
            <span>
                Welcome to my website. I built this portfolio to document my progress as a developer and to showcase the practical solutions I've created along the way. Learning to code is an ongoing process of tackling new challenges, and this site is designed to keep a detailed track of my growing skill set while presenting my projects in a clean, accessible format. From building responsive layouts to integrating backend logic, every project featured here represents a step forward in my capability to design, develop, and deploy effective software.
            </span>
        </section>

        <main class = "projectsDiv">
            {% if projects %}
                {% for project in projects %}
                    <div class = "singleProject">

                    </div>
                {% endfor %}
            {% endif %}
            <div class = "singleProject">
                
            </div>
        </main>

        {% endblock body -%}
    {%- endblock html %}
{% endblock doc -%}